---
sudo: required
language: python
cache: pip
services:
  - docker
before_install:
  - sudo apt-get -qq update
install:
  - pip install -r requirements.txt
script:
  - ./lint.sh
  - molecule --debug test
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
